<li class="record-item">

    <i class="dot dot-<%= recordInfo.idx % 5%> "></i>

    <div class="text">
    <span class="intro" style="font-weight: bold;"><%= recordInfo.title %></span>
    <br>
    <span class="intro"><%= recordInfo.info %></span>
    </div>

</li>